.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
    height: 80px;
    clip-path: circle(70%);
    border: 5px solid green;
    /* object-fit: cover; */
}

.navbar .profile{
    width: 20%;
    height: 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}