.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
    height: 80px;
    clip-path: circle(70%);
    /* object-fit: cover; */
}

.navbar .profile{
    width: 100px;
    height: 80px;
    clip-path: circle(50%);
    object-fit: cover;
}